$single: "yeah";
$useSass: true;
$nullVariable: null;

$color: (
  green: #27BAB4,
  gray-pale: #d7d7d7,
  gray: #999,
  strong-gray: #666,
  mid-black: #434344,
  strong-black: #242424,
  black: #343434,
  real-black: #141414,
  gray-light: #ccc,
  orange: #fc0,
  sand: #fef0c1,
  white: #e7e7e7,
  white-50opacity: rgba(#e7e7e7, .5)
);

$palette: (
  primary: map-get($color, green),
  secondary: map-get($color, white),
  tertiary: map-get($color, white-50opacity)
);

$theme: (
  primary: map-get($palette, primary),
  secondary: map-get($color, white),
  secondary-alt: map-get($color, white),
  navbar-background: map-get($color, black),
  navbar-border: 1px solid map-get($palette, tertiary),
  navbar-button-background: transparent,
  navbar-button-background-over: transparent,
  navbar-button-background-active: transparent,
  navbar-button-color: map-get($color, gray),
  navbar-button-color-over: map-get($palette, primary),
  navbar-button-color-active: map-get($color, white),
  navbar-button-icon-color: map-get($color, white),
  navbar-button-icon-color-over: map-get($color, gray-light),
  navbar-button-icon-color-active: map-get($palette, primary),
  logo-header-bg: map-get($palette, primary),
  menu-text-color: map-get($color, gray-light),
  headbar-color: map-get($color, white),
  headbar-border-bottom: none,
  headbar-background: map-get($palette, primary),
  nav-icon-color: map-get($color, white),
  headbar-height: 60px,
  headbar-is-fixed: false,
  headbar-button-sep-color: map-get($color, real-black),
  headbar-button-color: map-get($palette, primary),
  loading-solid-background: map-get($color, black),
  loading-progress-background: map-get($palette, primary),
  headbar-button-background: transparent,
  headbar-section-color: map-get($color, white),
  message-warning-background: map-get($color, strong-gray),
  message-warning-color: map-get($color, real-black),
  message-warning-close-color: map-get($palette, primary),
  message-warning-icon-color: map-get($palette, primary),
  message-success-background: map-get($palette, primary),
  table-background: map-get($color, black),
  table-body-row-background: map-get($color, black),
  table-body-row-color: map-get($color, gray),
  table-head-row-background: map-get($color, mid-black),
  table-head-row-color: map-get($color, gray-light),
  table-row-over-background: map-get($color, real-black),
  table-row-over-color: map-get($color, white),
  table-row-selected-background: map-get($palette, primary),
  table-row-selected-color: map-get($color, white),
  loading-progress-fail-background: map-get($palette, primary),
  page-background: map-get($color, black),
  table-edit-background: map-get($color, strong-black),
  table-body-checkbox-background: map-get($color, real-black),
  table-body-checkbox-border: none,
  table-body-checkbox-color: map-get($color, white),
  table-body-checkbox-background-over: map-get($color, real-black),
  table-body-checkbox-border-over: none,
  table-body-checkbox-background-checked: map-get($palette, primary) !important,
  table-body-checkbox-border-checked: none,
  table-head-checkbox-background: map-get($color, real-black),
  table-head-checkbox-border: none,
  table-head-checkbox-background-over: map-get($color, real-black),
  table-head-checkbox-border-over: none,
  table-head-checkbox-background-checked: map-get($color, real-black),
  table-head-checkbox-border-checked: none,
  table-head-checkbox-color: map-get($color, white),
  prompt-background: map-get($color, black),
  prompt-title-color: map-get($color, black),
  prompt-close-color: map-get($color, black),
  prompt-header-background: map-get($palette, primary),
  backdrop-background: rgba(map-get($color, real-black), .8),
  message-box-background: map-get($color, strong-black),
  projects-sort-caret-ascending: map-get($color, white),
  projects-sort-caret-ascending-disabled: map-get($palette, primary),
  projects-sort-caret-descending: map-get($color, white),
  projects-sort-caret-descending-disabled: map-get($palette, primary),
  projects-sort-caret-ascending-default: map-get($palette, primary),
  projects-sort-caret-descending-default: map-get($palette, primary),
  pleasure-btn-add-background: map-get($color, white),
  pleasure-btn-add-color: map-get($palette, primary),
  pleasure-btn-remove-background: map-get($palette, primary),
  pleasure-btn-remove-color: map-get($color, white),
  input-background: map-get($color, strong-black),
  input-background-over: darken(map-get($color, strong-black), 5%),
  input-background-focus: map-get($palette, primary),
  input-color: map-get($color, gray-pale),
  input-color-over: map-get($color, gray-pale),
  input-color-focus: map-get($color, real-black),
  input-placeholder-color: map-get($color, mid-black),
  input-placeholder-color-over: map-get($color, mid-black),
  input-placeholder-color-focus: map-get($color, mid-black),
  input-icon-color: map-get($palette, primary),
  input-select-background: map-get($color, strong-black),
  input-select-color: map-get($color, white),
  input-icon-color-over: map-get($palette, primary),
  input-icon-color-focus: map-get($color, strong-black),
  input-caret-color: map-get($color, strong-gray),
  input-border: none,
  input-label-color: map-get($color, strong-gray),
  dropdown-background: map-get($palette, primary),
  dropdown-button-background: transparent,
  dropdown-button-color: map-get($color, white),
  dropdown-button-background-over: map-get($color, real-black),
  dropdown-button-color-over: map-get($color, white),
  navbar-width: 260px,
  message-box-button-cancel-background: map-get($color, mid-black),
  message-box-button-action-background: map-get($palette, primary),
  message-box-button-cancel-color: map-get($color, gray),
  message-box-button-action-color: map-get($color, strong-black),
  message-box-button-close-color: map-get($palette, primary),
  notification-background: map-get($color, real-black),
  notification-color: map-get($color, mid-black),
  notification-title-color: map-get($color, gray),
  common-gap: 15px,
  notification-close-color: map-get($palette, primary),
  message-box-title-background: transparent,
  message-box-title-color: map-get($palette, primary),
  cancel-button-background: map-get($color, mid-black),
  cancel-button-color: map-get($color, gray),
  cancel-button-background-over: lighten(map-get($color, mid-black), 5%),
  cancel-button-color-over: map-get($color, gray),
  action-button-background: map-get($palette, primary),
  action-button-color: map-get($color, strong-black),
  action-button-background-over: lighten(map-get($palette, primary), 10%),
  action-button-color-over: map-get($color, strong-black),
  avatar-upload-background: map-get($color, strong-gray),
  avatar-upload-border-color: map-get($color, gray),
  avatar-upload-background-over: map-get($color, strong-gray),
  avatar-upload-border-color-over: map-get($palette, primary),
  avatar-upload-circ-color: map-get($palette, primary),
  avatar-upload-circ-background: map-get($color, gray),
  avatar-upload-progress-text-color: map-get($palette, primary),
  avatar-upload-progress-text-background: rgba(map-get($color, real-black), .7),
  avatar-upload-replace-color: map-get($color, gray)
);
